<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>{{msg}}</h1>
  <h2>This is our Home Page!</h2>
</div>
<section>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4" style="background-color:lightgray"><a href="/corp">Corporate</a></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-4" style="background-color:lightgray"><a href="/client">Client</a></div>
		<div class="col-md-1"></div>
	</div>
</section>
