body {
background: lightgrey;
padding : 1%;
font-family: Lato, sans-serif;
}

.container .jumbotron {
border-radius: 10px;
border: 2px solid black;
}
#socMedCont {
margin: 0 auto;
width: 80%;
border-radius: 10px;
border: 2px solid black;
background: grey;
}
#loginTab {
padding: 0;
max-width: 100%;
}
.img-fluid {
    width: 50%;
    height: 50%;
    float: left;
    
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-50px;
    top:230px;
    width:180px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    /* background-color:#fff;
    color:#efefef ; */
    max-height:    100%;
    width: auto;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-30px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539 ;
}
.sticky li p a:hover{
    text-decoration:underline;
}
.icon {
	width: 25%;
	max-height: 150px;
	height: 150px;

}
.tab-content {
margin: 25px;
margin-top: 0;
padding: 10px;
min-height: 200px;
border: 2px solid black;
background: lightgrey;
}
.nav-pills {
margin: 0 25px;
border: 2px solid black;
}
.nav-pills>li+li {
border: 2px solid purple;
margin: 0;
}

#pills li>.active{
background: red;
}

/* - - \/ - - - TW edits, change if you want - - - \/ - - */
#employeesOrCustomers {
/*position: relative;
float: left;
margin-left: 12px;
height: 33px;
text-align: center;*/
}
.checkbox-row {
margin-left: 15px;
}
#otherValue {
display: none;
}
#other:checked ~ #otherValue
{
display: inline-block;
margin-left: 6px;
}
.wrapper {
margin-top: 80px;
margin-bottom: 80px;
}
.form-signin {
max-width: 380px;
padding: 15px 35px 45px;
margin: 0 auto;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 30px;
}
.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="text"] {
margin-bottom: -1px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 20px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.form-signup {
  max-width: 580px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/*FERNANDO ICONS*/

.sticky button {
    list-style: none;
    text-decoration: none;
    border: none;
    background:none;
}

.sticky button i{
    font-size: 40px;
    padding:5px 10px;
}

@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }

  .main-container {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  /*#main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }*/
}